.markdown-editor, .rich-select {
    /* Reset styles that might be set by form-control */
    height: auto !important;
    padding: 0 !important;
    border: none !important;
}

.markdown-editor .card-header-tabs {
    margin: 0 0 0.5rem 0;
    border-bottom: 1px solid #ecf0f1;
}

.markdown-editor .nav-link {
    padding: 0.3rem 1rem;
}

.markdown-editor-preview {
    min-height: 100px;
    padding: 0.25rem 0.75rem;
}

.markdown-editor-preview > :last-child {
    margin-bottom: 0;
}

.btn:disabled {
    cursor: not-allowed !important;
}
